.title{
    letter-spacing: 0.2rem;
    text-align: center;
    font-weight: bold;
    margin-bottom: 1rem;
}
.mainPanel{
    display: flex;
    justify-content: center;
}
.startContainer{
    font-family: "Zen Dots";
    position: absolute;
    top: 40%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5rem;
}
.subtitle{
    font-size: 1rem;
    color: #555;
    white-space: nowrap;
}
@keyframes hideStartContainer{
    0%{
        top: 40%;
        font-size: 5rem;
        position: absolute;
    }
    30%{
        top: 40%;
        font-size: 2rem;
        position: absolute;

    }
    70%{
        top: 40%;
        font-size: 2rem;
        position: absolute;

    }
    99%{
        top:8vh;
        font-size: 2rem;
        position: absolute;
    }
    100%{
        position: inherit;
    }
}
.hideStartContainer{
    animation: hideStartContainer 1s;
    position: inherit;
    font-size: 2rem;

}
.hideSubtitle{
    display: none;
}
.hideStartButton{
    display: none;
}
.startButton{
    font-size: 2rem;
}
.homePageBackground{
    width: 100%;
    height: 92vh;
    position: absolute;
    background:none;
    transition: 3s;
    background: radial-gradient(#92023e, #6a0490, black);
    background-size: 100% 200%;
    opacity: 0;
    z-index: -5;

}
.showBackground{    
    opacity: 1;
}
.homeMenuBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 50, 0.5);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 1rem;
    /* margin: 1rem; */
    width: fit-content;
    height: fit-content;
    border: 4px solid #7800b0;
}

.centerBox{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:20vw;
}
.playButton{
    font-family: "Zen Dots";
    width: 80%;
height: 3rem;
display: flex;
justify-content: center;
align-items: center;
/* background-color: rgb(227, 179, 36); */
background-color: #2b8700;
border-radius: 1rem;
font-size: 2rem;
letter-spacing: 0.3rem;
margin-top: 20vh;

}
.userPanel{
    width: 30vw;
    height: 10vh;
    background-color: #555;
    padding: 1rem;
}
.searchChallenges{
background-color: rgb(227, 179, 36);
    font-family: "Zen Dots";
    width: 50%;
    height: 5vh;
    margin-top: 1rem;   
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;

}